In [1]:
import pandas as pd
import numpy as np

In [2]:
glasses = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/glasses.csv')

In [3]:
glasses

,NUM,DATE,ACC_X,ACC_Y,ACC_Z,GYRO_X,GYRO_Y,GYRO_Z,EOG_L,EOG_R,EOG_H,EOG_V
0,1,2017/06/29 08:00:00.406,-3242,10396,-6489,9117,2018,-819,-330,-186,-144,258
1,3,2017/06/29 08:00:00.426,-4014,11348,-15131,3359,-882,-2009,-305,-156,-149,230
2,5,2017/06/29 08:00:00.446,-3223,10918,-8496,-460,211,-2631,-64,84,-148,-10
3,7,2017/06/29 08:00:00.466,-5255,10690,-10854,1152,333,-3799,314,432,-118,-373
4,9,2017/06/29 08:00:00.486,-560,14164,-8619,-327,488,-2833,577,643,-66,-610
...,...,...,...,...,...,...,...,...,...,...,...,...
3975261,285647,2017/07/13 22:20:30.894,-5345,9790,-12500,336,638,-365,-186,-32,-154,109
3975262,285649,2017/07/13 22:20:30.914,-5280,9682,-12471,581,812,-271,-183,-28,-155,105
3975263,285651,2017/07/13 22:20:30.934,-5170,9579,-12492,828,963,-214,-176,-19,-157,97
3975264,285652,2017/07/13 22:20:30.944,-5082,9531,-12473,881,1062,-189,-159,-4,-155,81
3975265,285654,2017/07/13 22:20:30.964,-4968,9414,-12622,1052,1176,-154,-147,2,-149,72

Looking at smartphone data for source category step detector for limit 5 rows: 

SELECT *
FROM files.smartphone
WHERE source = 'step_detector'
LIMIT 5;

Still working: 

SELECT *
FROM files.smartphone
WHERE source = 'step_detector'
LIMIT 10000;

Without limit quota exceeded (116,671 rows): 

SELECT *
FROM files.smartphone
WHERE source = 'step_detector'

In [4]:
step_detector = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/step_detector_without_limit.csv')

In [5]:
step_detector

          index         source                timestamp   values
0       1316828  step_detector  2017-06-29 07:45:16.506  ['1.0']
1       1316863  step_detector  2017-06-29 07:45:27.858  ['1.0']
2       1316867  step_detector  2017-06-29 07:45:28.940  ['1.0']
3       1316870  step_detector  2017-06-29 07:45:31.018  ['1.0']
4       1316880  step_detector  2017-06-29 07:45:32.327  ['1.0']
...         ...            ...                      ...      ...
116666  1311172  step_detector  2017-07-13 19:39:23.800  ['1.0']
116667  1311179  step_detector  2017-07-13 19:39:26.196  ['1.0']
116668  1312909  step_detector  2017-07-13 19:49:48.994  ['1.0']
116669  1312910  step_detector  2017-07-13 19:49:49.427  ['1.0']
116670  1312991  step_detector  2017-07-13 19:50:18.346  ['1.0']

[116671 rows x 4 columns]

SELECT *
FROM files.smartphone
WHERE source = 'audio'
LIMIT 10000;

SELECT *
FROM files.smartphone
WHERE source = 'audio'

2. Exceeds quota (501,293 rows)

In [6]:
audio_smartphone = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/audio_smartphone.csv')

In [7]:
audio_smartphone

,index,source,timestamp,values
0,1316831,audio,2017-06-29 07:45:17.407,"['0.0', '0.0', '0.0', '32767.0']"
1,1316832,audio,2017-06-29 07:45:18.407,"['227.0', '113.5', '227.0', '227.0']"
2,1316835,audio,2017-06-29 07:45:19.407,"['590.0', '272.33334', '590.0', '227.0']"
3,1316836,audio,2017-06-29 07:45:20.446,"['1724.0', '635.25', '1724.0', '227.0']"
4,1316837,audio,2017-06-29 07:45:21.446,"['946.0', '697.4', '1724.0', '227.0']"
...,...,...,...,...
501288,1316814,audio,2017-07-13 20:13:33.671,"['1956.0', '5246.2485', '32767.0', '30.0']"
501289,1316817,audio,2017-07-13 20:13:34.663,"['2673.0', '5246.1816', '32767.0', '30.0']"
501290,1316819,audio,2017-07-13 20:13:35.663,"['2340.0', '5246.1064', '32767.0', '30.0']"
501291,1316823,audio,2017-07-13 20:13:36.668,"['2046.0', '5246.024', '32767.0', '30.0']"
501292,1316824,audio,2017-07-13 20:13:37.668,"['2441.0', '5245.9517', '32767.0', '30.0']"

SELECT *
FROM 
    files.smartwatch2
WHERE 
    source IN ('accelerometer', 'gravity', 'linear_acceleration', 'gyroscope')

Filtering the smartwatch sources and excluding battery.

In [8]:
smartwatch_sources = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/source_smartwatch_full.csv')

In [9]:
smartwatch_sources

,index,source,timestamp,values_1
0,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']"
1,164359,accelerometer,2017-06-29 07:46:06.270,"['-0.4410553', '0.7886505', '9.872787']"
2,164371,accelerometer,2017-06-29 07:46:11.280,"['0.2496643', '1.4255066', '9.832092']"
3,164383,accelerometer,2017-06-29 07:46:16.282,"['1.0840454', '0.52648926', '9.967361']"
4,164395,accelerometer,2017-06-29 07:46:21.289,"['-1.2897949', '-0.83462524', '9.338882']"
...,...,...,...,...
27405,150404,gyroscope,2017-07-13 20:03:58.587,"['-8.087158E-4', '0.01184082', '0.009002686']"
27406,163987,gyroscope,2017-07-13 20:05:00.880,"['0.075683594', '-0.002960205', '0.047027588']"
27407,150410,gyroscope,2017-07-13 20:05:00.880,"['0.075683594', '-0.002960205', '0.047027588']"
27408,164176,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']"
27409,150599,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']"

Filter report file unlimited. 

SELECT activity_type, duration, from_1, to_1
FROM files.report2;

In [10]:
activity_type_full = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/report_full_activity_type.csv')

In [11]:
activity_type_full

    activity_type duration            from_1              to_1
0     Video games    01:43  2017-07-01 21:34  2017-07-01 23:17
1     In computer    00:03  2017-07-01 21:29  2017-07-01 21:32
2         At home    13:35  2017-07-01 21:13  2017-07-02 10:49
3     In computer    00:05  2017-07-01 21:08  2017-07-01 21:13
4             Eat    00:18  2017-07-01 20:49  2017-07-01 21:07
..            ...      ...               ...               ...
146          Work    02:59  2017-06-30 12:20  2017-06-30 15:19
147          Walk    00:07  2017-06-30 12:04  2017-06-30 12:12
148         Train    00:22  2017-06-30 11:42  2017-06-30 12:04
149          Walk    00:14  2017-06-30 11:27  2017-06-30 11:42
150           Eat    00:13  2017-06-30 10:54  2017-06-30 11:08

[151 rows x 4 columns]

I aim to combine activity_type and smartwatch_source data sets to potentially analyze upon activity_type. I will merge them grouped by time stamp.

In [12]:
# Convert timestamp columns to datetime objects
activity_type_full['from_1'] = pd.to_datetime(activity_type_full['from_1'])
smartwatch_sources['timestamp'] = pd.to_datetime(smartwatch_sources['timestamp'])

# Merge the data frames based on timestamps
merged_data = pd.merge_asof(smartwatch_sources.sort_values('timestamp'), 
                             activity_type_full.sort_values('from_1'),
                             left_on='timestamp',
                             right_on='from_1',
                             direction='backward')

# Optionally, drop redundant columns or rename them as needed
merged_data.drop(columns=['from_1', 'to_1'], inplace=True)
merged_data.rename(columns={'activity_type': 'activity'}, inplace=True)

# Fill NaN values with 0s
merged_data.fillna(0, inplace=True)

# Print or further process the merged data
print(merged_data)

        index               source               timestamp  \
0      164350        accelerometer 2017-06-29 07:46:01.263
1      164351              gravity 2017-06-29 07:46:01.324
2      164352  linear_acceleration 2017-06-29 07:46:01.329
3      164353            gyroscope 2017-06-29 07:46:01.402
4      164359        accelerometer 2017-06-29 07:46:06.270
...       ...                  ...                     ...
27405  150414        accelerometer 2017-07-13 20:05:00.933
27406  150599            gyroscope 2017-07-13 20:21:31.322
27407  164176            gyroscope 2017-07-13 20:21:31.322
27408  150603        accelerometer 2017-07-13 20:21:31.358
27409  164180        accelerometer 2017-07-13 20:21:31.358

                                               values_1     activity duration
0              ['-0.3440857', '0.68330383', '9.967361']            0        0
1              ['-0.34131828', '0.6573288', '9.778641']            0        0
2       ['-0.018068999', '0.034808993', '-0.033065796']            0        0
3      ['0.0041656494', '-0.0132751465', '0.006164551']            0        0
4               ['-0.4410553', '0.7886505', '9.872787']            0        0
...                                                 ...          ...      ...
27405           ['-3.1450653', '-8.022736', '-4.60495']  Video games    00:41
27406        ['-0.38728333', '0.05871582', '0.5663452']  Video games    00:41
27407        ['-0.38728333', '0.05871582', '0.5663452']  Video games    00:41
27408          ['-0.6756897', '2.7004242', '10.965744']  Video games    00:41
27409          ['-0.6756897', '2.7004242', '10.965744']  Video games    00:41

[27410 rows x 6 columns]

I am replacing NaN with 0s and filtering rows where activity and duration are not equal 0.

In [13]:
# Filter the DataFrame to keep rows where both "activity" and "duration" are not equal to 0
filtered_data = merged_data[(merged_data['activity'] != 0) & (merged_data['duration'] != 0)]

# Print or further process the filtered data
print(filtered_data)

        index               source               timestamp  \
1122   169367            gyroscope 2017-06-29 09:57:08.396
1123   169370        accelerometer 2017-06-29 09:57:08.406
1124   169375              gravity 2017-06-29 09:57:08.589
1125   169376  linear_acceleration 2017-06-29 09:57:08.591
1126   169379        accelerometer 2017-06-29 09:57:13.436
...       ...                  ...                     ...
27405  150414        accelerometer 2017-07-13 20:05:00.933
27406  150599            gyroscope 2017-07-13 20:21:31.322
27407  164176            gyroscope 2017-07-13 20:21:31.322
27408  150603        accelerometer 2017-07-13 20:21:31.358
27409  164180        accelerometer 2017-07-13 20:21:31.358

                                         values_1     activity duration
1122    ['-0.3515625', '0.68681335', '0.4768982']          Eat    00:20
1123    ['-10.173126', '-1.4712372', '1.9243927']          Eat    00:20
1124        ['4.585228', '-8.101572', '3.083927']          Eat    00:20
1125    ['-0.2807727', '-0.710495', '-0.6929529']          Eat    00:20
1126     ['4.726227', '-10.251968', '0.49110413']          Eat    00:20
...                                           ...          ...      ...
27405     ['-3.1450653', '-8.022736', '-4.60495']  Video games    00:41
27406  ['-0.38728333', '0.05871582', '0.5663452']  Video games    00:41
27407  ['-0.38728333', '0.05871582', '0.5663452']  Video games    00:41
27408    ['-0.6756897', '2.7004242', '10.965744']  Video games    00:41
27409    ['-0.6756897', '2.7004242', '10.965744']  Video games    00:41

[26288 rows x 6 columns]

In [14]:
filtered_data

,index,source,timestamp,values_1,activity,duration
1122,169367,gyroscope,2017-06-29 09:57:08.396,"['-0.3515625', '0.68681335', '0.4768982']",Eat,00:20
1123,169370,accelerometer,2017-06-29 09:57:08.406,"['-10.173126', '-1.4712372', '1.9243927']",Eat,00:20
1124,169375,gravity,2017-06-29 09:57:08.589,"['4.585228', '-8.101572', '3.083927']",Eat,00:20
1125,169376,linear_acceleration,2017-06-29 09:57:08.591,"['-0.2807727', '-0.710495', '-0.6929529']",Eat,00:20
1126,169379,accelerometer,2017-06-29 09:57:13.436,"['4.726227', '-10.251968', '0.49110413']",Eat,00:20
...,...,...,...,...,...,...
27405,150414,accelerometer,2017-07-13 20:05:00.933,"['-3.1450653', '-8.022736', '-4.60495']",Video games,00:41
27406,150599,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41
27407,164176,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41
27408,150603,accelerometer,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41
27409,164180,accelerometer,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41

Given that the network analysis hasn't been truly informative, I will first look at clusters. For that purpose I will label encode the categories.

In [15]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
label_encoder = LabelEncoder()

# Apply label encoding to the "source" column
filtered_data['source_encoded'] = label_encoder.fit_transform(filtered_data['source'])
source_encoder_dict = dict(zip(filtered_data['source'], filtered_data['source_encoded']))

print("\nSource Encoding Dictionary:")
print(source_encoder_dict)

Source Encoding Dictionary:
{'gyroscope': 2, 'accelerometer': 0, 'gravity': 1, 'linear_acceleration': 3}

/var/folders/4r/5qs7726s3_dc54vtgh1sc2740000gn/T/ipykernel_51880/601277845.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['source_encoded'] = label_encoder.fit_transform(filtered_data['source'])

In [16]:
filtered_data

,index,source,timestamp,values_1,activity,duration,source_encoded
1122,169367,gyroscope,2017-06-29 09:57:08.396,"['-0.3515625', '0.68681335', '0.4768982']",Eat,00:20,2
1123,169370,accelerometer,2017-06-29 09:57:08.406,"['-10.173126', '-1.4712372', '1.9243927']",Eat,00:20,0
1124,169375,gravity,2017-06-29 09:57:08.589,"['4.585228', '-8.101572', '3.083927']",Eat,00:20,1
1125,169376,linear_acceleration,2017-06-29 09:57:08.591,"['-0.2807727', '-0.710495', '-0.6929529']",Eat,00:20,3
1126,169379,accelerometer,2017-06-29 09:57:13.436,"['4.726227', '-10.251968', '0.49110413']",Eat,00:20,0
...,...,...,...,...,...,...,...
27405,150414,accelerometer,2017-07-13 20:05:00.933,"['-3.1450653', '-8.022736', '-4.60495']",Video games,00:41,0
27406,150599,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41,2
27407,164176,gyroscope,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41,2
27408,150603,accelerometer,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41,0
27409,164180,accelerometer,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41,0

I create a new data frame without categorical data for KMeans clustering.

In [17]:
filtered_filtered_data = filtered_data.drop(columns =['source'])

In [18]:
filtered_filtered_data

,index,timestamp,values_1,activity,duration,source_encoded
1122,169367,2017-06-29 09:57:08.396,"['-0.3515625', '0.68681335', '0.4768982']",Eat,00:20,2
1123,169370,2017-06-29 09:57:08.406,"['-10.173126', '-1.4712372', '1.9243927']",Eat,00:20,0
1124,169375,2017-06-29 09:57:08.589,"['4.585228', '-8.101572', '3.083927']",Eat,00:20,1
1125,169376,2017-06-29 09:57:08.591,"['-0.2807727', '-0.710495', '-0.6929529']",Eat,00:20,3
1126,169379,2017-06-29 09:57:13.436,"['4.726227', '-10.251968', '0.49110413']",Eat,00:20,0
...,...,...,...,...,...,...
27405,150414,2017-07-13 20:05:00.933,"['-3.1450653', '-8.022736', '-4.60495']",Video games,00:41,0
27406,150599,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41,2
27407,164176,2017-07-13 20:21:31.322,"['-0.38728333', '0.05871582', '0.5663452']",Video games,00:41,2
27408,150603,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41,0
27409,164180,2017-07-13 20:21:31.358,"['-0.6756897', '2.7004242', '10.965744']",Video games,00:41,0

To make informative plots, I suggest grouping data by "activity_encoded" and making subplots accordingly. Convert the 'timestamp' column to datetime format using the pd.to_datetime() function in Python's pandas library. This conversion allows for time-based analysis and manipulation of the data. Finally, use string manipulation methods like .strip(), .split(), and then convert each element to a float.

In [19]:
# Convert 'timestamp' column to datetime format
filtered_filtered_data['timestamp'] = pd.to_datetime(filtered_filtered_data['timestamp'])

# Parse values in 'values_1' column to extract numerical values
filtered_filtered_data['values_1'] = filtered_filtered_data['values_1'].apply(lambda x: [float(val.strip("[]'")) for val in x.split(", ")])

In [20]:
filtered_filtered_data

,index,timestamp,values_1,activity,duration,source_encoded
1122,169367,2017-06-29 09:57:08.396,"[-0.3515625, 0.68681335, 0.4768982]",Eat,00:20,2
1123,169370,2017-06-29 09:57:08.406,"[-10.173126, -1.4712372, 1.9243927]",Eat,00:20,0
1124,169375,2017-06-29 09:57:08.589,"[4.585228, -8.101572, 3.083927]",Eat,00:20,1
1125,169376,2017-06-29 09:57:08.591,"[-0.2807727, -0.710495, -0.6929529]",Eat,00:20,3
1126,169379,2017-06-29 09:57:13.436,"[4.726227, -10.251968, 0.49110413]",Eat,00:20,0
...,...,...,...,...,...,...
27405,150414,2017-07-13 20:05:00.933,"[-3.1450653, -8.022736, -4.60495]",Video games,00:41,0
27406,150599,2017-07-13 20:21:31.322,"[-0.38728333, 0.05871582, 0.5663452]",Video games,00:41,2
27407,164176,2017-07-13 20:21:31.322,"[-0.38728333, 0.05871582, 0.5663452]",Video games,00:41,2
27408,150603,2017-07-13 20:21:31.358,"[-0.6756897, 2.7004242, 10.965744]",Video games,00:41,0
27409,164180,2017-07-13 20:21:31.358,"[-0.6756897, 2.7004242, 10.965744]",Video games,00:41,0

Group data by source_encoded and activity_encoded to be able to look at each source separately in an efficient way.

In [115]:
# Group the data by 'activity_encoded' and 'source_encoded'
grouped_data_source = filtered_filtered_data.groupby(['activity_encoded', 'source_encoded'])

In [21]:
# Convert the 'values_1' column to numeric if possible
filtered_filtered_data['values_1'] = filtered_filtered_data['values_1'].apply(pd.to_numeric, errors='coerce')

# Pivot the data to create columns for each unique source_encoded
pivot_data = pd.pivot_table(filtered_filtered_data, 
                            values='values_1', 
                            index='timestamp', 
                            columns='source_encoded')

# Print the pivoted data
print(pivot_data)

source_encoded                                             0  \
timestamp
2017-06-29 09:57:08.396                                  NaN
2017-06-29 09:57:08.406  [-10.173126, -1.4712372, 1.9243927]
2017-06-29 09:57:08.589                                  NaN
2017-06-29 09:57:08.591                                  NaN
2017-06-29 09:57:13.436   [4.726227, -10.251968, 0.49110413]
...                                                      ...
2017-07-13 20:03:58.637   [-2.270111, -8.976822, -3.0343475]
2017-07-13 20:05:00.880                                  NaN
2017-07-13 20:05:00.933    [-3.1450653, -8.022736, -4.60495]
2017-07-13 20:21:31.322                                  NaN
2017-07-13 20:21:31.358   [-0.6756897, 2.7004242, 10.965744]

source_encoded                                         1  \
timestamp
2017-06-29 09:57:08.396                              NaN
2017-06-29 09:57:08.406                              NaN
2017-06-29 09:57:08.589  [4.585228, -8.101572, 3.083927]
2017-06-29 09:57:08.591                              NaN
2017-06-29 09:57:13.436                              NaN
...                                                  ...
2017-07-13 20:03:58.637                              NaN
2017-07-13 20:05:00.880                              NaN
2017-07-13 20:05:00.933                              NaN
2017-07-13 20:21:31.322                              NaN
2017-07-13 20:21:31.358                              NaN

source_encoded                                                  2  \
timestamp
2017-06-29 09:57:08.396       [-0.3515625, 0.68681335, 0.4768982]
2017-06-29 09:57:08.406                                       NaN
2017-06-29 09:57:08.589                                       NaN
2017-06-29 09:57:08.591                                       NaN
2017-06-29 09:57:13.436                                       NaN
...                                                           ...
2017-07-13 20:03:58.637                                       NaN
2017-07-13 20:05:00.880  [0.075683594, -0.002960205, 0.047027588]
2017-07-13 20:05:00.933                                       NaN
2017-07-13 20:21:31.322      [-0.38728333, 0.05871582, 0.5663452]
2017-07-13 20:21:31.358                                       NaN

source_encoded                                             3
timestamp
2017-06-29 09:57:08.396                                  NaN
2017-06-29 09:57:08.406                                  NaN
2017-06-29 09:57:08.589                                  NaN
2017-06-29 09:57:08.591  [-0.2807727, -0.710495, -0.6929529]
2017-06-29 09:57:13.436                                  NaN
...                                                      ...
2017-07-13 20:03:58.637                                  NaN
2017-07-13 20:05:00.880                                  NaN
2017-07-13 20:05:00.933                                  NaN
2017-07-13 20:21:31.322                                  NaN
2017-07-13 20:21:31.358                                  NaN

[24903 rows x 4 columns]

In [22]:
# Replace 'source_encoded' with 'source'
pivot_data.columns.name = 'source'

pivot_data

source,0,1,2,3
timestamp,,,,
2017-06-29 09:57:08.396,NaN,NaN,"[-0.3515625, 0.68681335, 0.4768982]",NaN
2017-06-29 09:57:08.406,"[-10.173126, -1.4712372, 1.9243927]",NaN,NaN,NaN
2017-06-29 09:57:08.589,NaN,"[4.585228, -8.101572, 3.083927]",NaN,NaN
2017-06-29 09:57:08.591,NaN,NaN,NaN,"[-0.2807727, -0.710495, -0.6929529]"
2017-06-29 09:57:13.436,"[4.726227, -10.251968, 0.49110413]",NaN,NaN,NaN
...,...,...,...,...
2017-07-13 20:03:58.637,"[-2.270111, -8.976822, -3.0343475]",NaN,NaN,NaN
2017-07-13 20:05:00.880,NaN,NaN,"[0.075683594, -0.002960205, 0.047027588]",NaN
2017-07-13 20:05:00.933,"[-3.1450653, -8.022736, -4.60495]",NaN,NaN,NaN
2017-07-13 20:21:31.322,NaN,NaN,"[-0.38728333, 0.05871582, 0.5663452]",NaN
2017-07-13 20:21:31.358,"[-0.6756897, 2.7004242, 10.965744]",NaN,NaN,NaN

I have pivoted the data frame for better interpretability. Later, it would be more scaleable, though, having the more "concentrated" structure when dealing with large data sets. For research purposes, though, it's better to pivot the data columns.

In [174]:
# Group 'filtered_filtered_data' by timestamp and aggregate 'activity_encoded'
activity_grouped = filtered_filtered_data.groupby('timestamp')['activity_encoded'].first()

# Merge 'activity_grouped' with 'pivot_data' based on timestamp index
pivot_data = pivot_data.merge(activity_grouped, how='left', on='timestamp')

# Reset index to make timestamp a column again
pivot_data.reset_index(inplace=True)

In [23]:
pivot_data

source,0,1,2,3
timestamp,,,,
2017-06-29 09:57:08.396,NaN,NaN,"[-0.3515625, 0.68681335, 0.4768982]",NaN
2017-06-29 09:57:08.406,"[-10.173126, -1.4712372, 1.9243927]",NaN,NaN,NaN
2017-06-29 09:57:08.589,NaN,"[4.585228, -8.101572, 3.083927]",NaN,NaN
2017-06-29 09:57:08.591,NaN,NaN,NaN,"[-0.2807727, -0.710495, -0.6929529]"
2017-06-29 09:57:13.436,"[4.726227, -10.251968, 0.49110413]",NaN,NaN,NaN
...,...,...,...,...
2017-07-13 20:03:58.637,"[-2.270111, -8.976822, -3.0343475]",NaN,NaN,NaN
2017-07-13 20:05:00.880,NaN,NaN,"[0.075683594, -0.002960205, 0.047027588]",NaN
2017-07-13 20:05:00.933,"[-3.1450653, -8.022736, -4.60495]",NaN,NaN,NaN
2017-07-13 20:21:31.322,NaN,NaN,"[-0.38728333, 0.05871582, 0.5663452]",NaN
2017-07-13 20:21:31.358,"[-0.6756897, 2.7004242, 10.965744]",NaN,NaN,NaN

In [25]:
# Group 'filtered_filtered_data' by both 'timestamp' and 'activity_encoded' and aggregate 'duration'
duration_grouped = filtered_data.groupby(['timestamp', 'activity'])['duration'].first()

# Merge 'duration_grouped' with 'pivot_data' based on timestamp index
pivot_data = pivot_data.merge(duration_grouped, how='left', on='timestamp')

# Print the updated pivoted data with 'duration' as a column specific to each activity
print(pivot_data)

                                                           0  \
timestamp
2017-06-29 09:57:08.396                                  NaN
2017-06-29 09:57:08.406  [-10.173126, -1.4712372, 1.9243927]
2017-06-29 09:57:08.589                                  NaN
2017-06-29 09:57:08.591                                  NaN
2017-06-29 09:57:13.436   [4.726227, -10.251968, 0.49110413]
...                                                      ...
2017-07-13 20:03:58.637   [-2.270111, -8.976822, -3.0343475]
2017-07-13 20:05:00.880                                  NaN
2017-07-13 20:05:00.933    [-3.1450653, -8.022736, -4.60495]
2017-07-13 20:21:31.322                                  NaN
2017-07-13 20:21:31.358   [-0.6756897, 2.7004242, 10.965744]

                                                       1  \
timestamp
2017-06-29 09:57:08.396                              NaN
2017-06-29 09:57:08.406                              NaN
2017-06-29 09:57:08.589  [4.585228, -8.101572, 3.083927]
2017-06-29 09:57:08.591                              NaN
2017-06-29 09:57:13.436                              NaN
...                                                  ...
2017-07-13 20:03:58.637                              NaN
2017-07-13 20:05:00.880                              NaN
2017-07-13 20:05:00.933                              NaN
2017-07-13 20:21:31.322                              NaN
2017-07-13 20:21:31.358                              NaN

                                                                2  \
timestamp
2017-06-29 09:57:08.396       [-0.3515625, 0.68681335, 0.4768982]
2017-06-29 09:57:08.406                                       NaN
2017-06-29 09:57:08.589                                       NaN
2017-06-29 09:57:08.591                                       NaN
2017-06-29 09:57:13.436                                       NaN
...                                                           ...
2017-07-13 20:03:58.637                                       NaN
2017-07-13 20:05:00.880  [0.075683594, -0.002960205, 0.047027588]
2017-07-13 20:05:00.933                                       NaN
2017-07-13 20:21:31.322      [-0.38728333, 0.05871582, 0.5663452]
2017-07-13 20:21:31.358                                       NaN

                                                           3 duration
timestamp
2017-06-29 09:57:08.396                                  NaN    00:20
2017-06-29 09:57:08.406                                  NaN    00:20
2017-06-29 09:57:08.589                                  NaN    00:20
2017-06-29 09:57:08.591  [-0.2807727, -0.710495, -0.6929529]    00:20
2017-06-29 09:57:13.436                                  NaN    00:20
...                                                      ...      ...
2017-07-13 20:03:58.637                                  NaN    00:41
2017-07-13 20:05:00.880                                  NaN    00:41
2017-07-13 20:05:00.933                                  NaN    00:41
2017-07-13 20:21:31.322                                  NaN    00:41
2017-07-13 20:21:31.358                                  NaN    00:41

[24903 rows x 5 columns]

Fill NaN with zeroes and get back the original column names.

In [26]:
# Replace the encoded column names with their original names
source_names = {0: 'accelerometer', 1: 'gravity', 2: 'gyroscope', 3: 'linear_acceleration'}  # Replace with actual source names
pivot_data.rename(columns=source_names, inplace=True)

# Replace NaN values with 0s
pivot_data.fillna(0, inplace=True)

# Print the updated pivoted data
print(pivot_data)

                                               accelerometer  \
timestamp
2017-06-29 09:57:08.396                                    0
2017-06-29 09:57:08.406  [-10.173126, -1.4712372, 1.9243927]
2017-06-29 09:57:08.589                                    0
2017-06-29 09:57:08.591                                    0
2017-06-29 09:57:13.436   [4.726227, -10.251968, 0.49110413]
...                                                      ...
2017-07-13 20:03:58.637   [-2.270111, -8.976822, -3.0343475]
2017-07-13 20:05:00.880                                    0
2017-07-13 20:05:00.933    [-3.1450653, -8.022736, -4.60495]
2017-07-13 20:21:31.322                                    0
2017-07-13 20:21:31.358   [-0.6756897, 2.7004242, 10.965744]

                                                 gravity  \
timestamp
2017-06-29 09:57:08.396                                0
2017-06-29 09:57:08.406                                0
2017-06-29 09:57:08.589  [4.585228, -8.101572, 3.083927]
2017-06-29 09:57:08.591                                0
2017-06-29 09:57:13.436                                0
...                                                  ...
2017-07-13 20:03:58.637                                0
2017-07-13 20:05:00.880                                0
2017-07-13 20:05:00.933                                0
2017-07-13 20:21:31.322                                0
2017-07-13 20:21:31.358                                0

                                                        gyroscope  \
timestamp
2017-06-29 09:57:08.396       [-0.3515625, 0.68681335, 0.4768982]
2017-06-29 09:57:08.406                                         0
2017-06-29 09:57:08.589                                         0
2017-06-29 09:57:08.591                                         0
2017-06-29 09:57:13.436                                         0
...                                                           ...
2017-07-13 20:03:58.637                                         0
2017-07-13 20:05:00.880  [0.075683594, -0.002960205, 0.047027588]
2017-07-13 20:05:00.933                                         0
2017-07-13 20:21:31.322      [-0.38728333, 0.05871582, 0.5663452]
2017-07-13 20:21:31.358                                         0

                                         linear_acceleration duration
timestamp
2017-06-29 09:57:08.396                                    0    00:20
2017-06-29 09:57:08.406                                    0    00:20
2017-06-29 09:57:08.589                                    0    00:20
2017-06-29 09:57:08.591  [-0.2807727, -0.710495, -0.6929529]    00:20
2017-06-29 09:57:13.436                                    0    00:20
...                                                      ...      ...
2017-07-13 20:03:58.637                                    0    00:41
2017-07-13 20:05:00.880                                    0    00:41
2017-07-13 20:05:00.933                                    0    00:41
2017-07-13 20:21:31.322                                    0    00:41
2017-07-13 20:21:31.358                                    0    00:41

[24903 rows x 5 columns]

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Convert timestamp column to datetime format
pivot_data['timestamp'] = pd.to_datetime(pivot_data['timestamp'])

# Convert any integer values in the 'accelerometer' column to lists
pivot_data['accelerometer'] = pivot_data['accelerometer'].apply(lambda x: [x] if isinstance(x, int) else x)

# Now, you can extract accelerometer readings for each axis
pivot_data['accel_x'] = pivot_data['accelerometer'].apply(lambda x: x[0] if len(x) > 0 else np.nan)
pivot_data['accel_y'] = pivot_data['accelerometer'].apply(lambda x: x[1] if len(x) > 1 else np.nan)
pivot_data['accel_z'] = pivot_data['accelerometer'].apply(lambda x: x[2] if len(x) > 2 else np.nan)

# Plot accelerometer data for each axis over time
plt.figure(figsize=(12, 6))
plt.plot(pivot_data['timestamp'], pivot_data['accel_x'], label='X-axis')
plt.plot(pivot_data['timestamp'], pivot_data['accel_y'], label='Y-axis')
plt.plot(pivot_data['timestamp'], pivot_data['accel_z'], label='Z-axis')
plt.title('Accelerometer Readings Over Time')
plt.xlabel('Timestamp')
plt.ylabel('Acceleration')
plt.legend()
plt.show()

KeyError: 'timestamp'

In [28]:
# Expand accelerometer column into x, y, z components
accelerometer_components = pivot_data['accelerometer'].apply(pd.Series)
accelerometer_components.columns = ['accel_x', 'accel_y', 'accel_z']

# Expand gravity column into x, y, z components
gravity_components = pivot_data['gravity'].apply(pd.Series)
gravity_components.columns = ['gravity_x', 'gravity_y', 'gravity_z']

# Expand gyroscope column into x, y, z components
gyroscope_components = pivot_data['gyroscope'].apply(pd.Series)
gyroscope_components.columns = ['gyro_x', 'gyro_y', 'gyro_z']

# Expand linear_acceleration column into x, y, z components
linear_acceleration_components = pivot_data['linear_acceleration'].apply(pd.Series)
linear_acceleration_components.columns = ['linear_accel_x', 'linear_accel_y', 'linear_accel_z']

# Concatenate the new components with the original DataFrame
pivot_data = pd.concat([pivot_data, accelerometer_components, gravity_components, gyroscope_components, linear_acceleration_components], axis=1)

# Drop the original columns
pivot_data.drop(columns=['accelerometer', 'gravity', 'gyroscope', 'linear_acceleration'], inplace=True)

# Print the updated DataFrame
print(pivot_data)

                        duration    accel_x    accel_y    accel_z  gravity_x  \
timestamp
2017-06-29 09:57:08.396    00:20   0.000000        NaN        NaN   0.000000
2017-06-29 09:57:08.406    00:20 -10.173126  -1.471237   1.924393   0.000000
2017-06-29 09:57:08.589    00:20   0.000000        NaN        NaN   4.585228
2017-06-29 09:57:08.591    00:20   0.000000        NaN        NaN   0.000000
2017-06-29 09:57:13.436    00:20   4.726227 -10.251968   0.491104   0.000000
...                          ...        ...        ...        ...        ...
2017-07-13 20:03:58.637    00:41  -2.270111  -8.976822  -3.034347   0.000000
2017-07-13 20:05:00.880    00:41   0.000000        NaN        NaN   0.000000
2017-07-13 20:05:00.933    00:41  -3.145065  -8.022736  -4.604950   0.000000
2017-07-13 20:21:31.322    00:41   0.000000        NaN        NaN   0.000000
2017-07-13 20:21:31.358    00:41  -0.675690   2.700424  10.965744   0.000000

                         gravity_y  gravity_z    gyro_x    gyro_y    gyro_z  \
timestamp
2017-06-29 09:57:08.396        NaN        NaN -0.351562  0.686813  0.476898
2017-06-29 09:57:08.406        NaN        NaN  0.000000       NaN       NaN
2017-06-29 09:57:08.589  -8.101572   3.083927  0.000000       NaN       NaN
2017-06-29 09:57:08.591        NaN        NaN  0.000000       NaN       NaN
2017-06-29 09:57:13.436        NaN        NaN  0.000000       NaN       NaN
...                            ...        ...       ...       ...       ...
2017-07-13 20:03:58.637        NaN        NaN  0.000000       NaN       NaN
2017-07-13 20:05:00.880        NaN        NaN  0.075684 -0.002960  0.047028
2017-07-13 20:05:00.933        NaN        NaN  0.000000       NaN       NaN
2017-07-13 20:21:31.322        NaN        NaN -0.387283  0.058716  0.566345
2017-07-13 20:21:31.358        NaN        NaN  0.000000       NaN       NaN

                         linear_accel_x  linear_accel_y  linear_accel_z
timestamp
2017-06-29 09:57:08.396        0.000000             NaN             NaN
2017-06-29 09:57:08.406        0.000000             NaN             NaN
2017-06-29 09:57:08.589        0.000000             NaN             NaN
2017-06-29 09:57:08.591       -0.280773       -0.710495       -0.692953
2017-06-29 09:57:13.436        0.000000             NaN             NaN
...                                 ...             ...             ...
2017-07-13 20:03:58.637        0.000000             NaN             NaN
2017-07-13 20:05:00.880        0.000000             NaN             NaN
2017-07-13 20:05:00.933        0.000000             NaN             NaN
2017-07-13 20:21:31.322        0.000000             NaN             NaN
2017-07-13 20:21:31.358        0.000000             NaN             NaN

[24903 rows x 13 columns]

In [29]:
pivot_data

,duration,accel_x,accel_y,accel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,linear_accel_x,linear_accel_y,linear_accel_z
timestamp,,,,,,,,,,,,,
2017-06-29 09:57:08.396,00:20,0.000000,NaN,NaN,0.000000,NaN,NaN,-0.351562,0.686813,0.476898,0.000000,NaN,NaN
2017-06-29 09:57:08.406,00:20,-10.173126,-1.471237,1.924393,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN
2017-06-29 09:57:08.589,00:20,0.000000,NaN,NaN,4.585228,-8.101572,3.083927,0.000000,NaN,NaN,0.000000,NaN,NaN
2017-06-29 09:57:08.591,00:20,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,-0.280773,-0.710495,-0.692953
2017-06-29 09:57:13.436,00:20,4.726227,-10.251968,0.491104,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-13 20:03:58.637,00:41,-2.270111,-8.976822,-3.034347,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN
2017-07-13 20:05:00.880,00:41,0.000000,NaN,NaN,0.000000,NaN,NaN,0.075684,-0.002960,0.047028,0.000000,NaN,NaN
2017-07-13 20:05:00.933,00:41,-3.145065,-8.022736,-4.604950,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN
2017-07-13 20:21:31.322,00:41,0.000000,NaN,NaN,0.000000,NaN,NaN,-0.387283,0.058716,0.566345,0.000000,NaN,NaN
2017-07-13 20:21:31.358,00:41,-0.675690,2.700424,10.965744,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN

In [30]:
# Remove duplicate columns, if any
pivot_data = pivot_data.loc[:, ~pivot_data.columns.duplicated()]
# Replace NaN values with 0s
pivot_data.fillna(0, inplace=True)

I have separated the sensor data in x,y,z and created separate columns for analysis purposes. This separation is also better for model training considering better feature independence, simpler input, easier feature engineering, and better interpretability.

In [31]:
pivot_data

,duration,accel_x,accel_y,accel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,linear_accel_x,linear_accel_y,linear_accel_z
timestamp,,,,,,,,,,,,,
2017-06-29 09:57:08.396,00:20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.351562,0.686813,0.476898,0.000000,0.000000,0.000000
2017-06-29 09:57:08.406,00:20,-10.173126,-1.471237,1.924393,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-29 09:57:08.589,00:20,0.000000,0.000000,0.000000,4.585228,-8.101572,3.083927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-29 09:57:08.591,00:20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.280773,-0.710495,-0.692953
2017-06-29 09:57:13.436,00:20,4.726227,-10.251968,0.491104,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-13 20:03:58.637,00:41,-2.270111,-8.976822,-3.034347,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-07-13 20:05:00.880,00:41,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.075684,-0.002960,0.047028,0.000000,0.000000,0.000000
2017-07-13 20:05:00.933,00:41,-3.145065,-8.022736,-4.604950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-07-13 20:21:31.322,00:41,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.387283,0.058716,0.566345,0.000000,0.000000,0.000000
2017-07-13 20:21:31.358,00:41,-0.675690,2.700424,10.965744,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
# Group 'filtered_filtered_data' by both 'timestamp' and 'activity_encoded' and aggregate 'duration'
activity_grouped = filtered_data.groupby(['timestamp'])['activity'].first()

# Merge 'duration_grouped' with 'pivot_data' based on timestamp index
pivot_data = pivot_data.merge(activity_grouped, how='left', on='timestamp')

# Print the updated pivoted data with 'duration' as a column specific to each activity
print(pivot_data)

                           accel_x    accel_y    accel_z  gravity_x  \
timestamp
2017-06-29 09:57:08.396   0.000000   0.000000   0.000000   0.000000
2017-06-29 09:57:08.406 -10.173126  -1.471237   1.924393   0.000000
2017-06-29 09:57:08.589   0.000000   0.000000   0.000000   4.585228
2017-06-29 09:57:08.591   0.000000   0.000000   0.000000   0.000000
2017-06-29 09:57:13.436   4.726227 -10.251968   0.491104   0.000000
...                            ...        ...        ...        ...
2017-07-13 20:03:58.637  -2.270111  -8.976822  -3.034347   0.000000
2017-07-13 20:05:00.880   0.000000   0.000000   0.000000   0.000000
2017-07-13 20:05:00.933  -3.145065  -8.022736  -4.604950   0.000000
2017-07-13 20:21:31.322   0.000000   0.000000   0.000000   0.000000
2017-07-13 20:21:31.358  -0.675690   2.700424  10.965744   0.000000

                         gravity_y  gravity_z    gyro_x    gyro_y    gyro_z  \
timestamp
2017-06-29 09:57:08.396   0.000000   0.000000 -0.351562  0.686813  0.476898
2017-06-29 09:57:08.406   0.000000   0.000000  0.000000  0.000000  0.000000
2017-06-29 09:57:08.589  -8.101572   3.083927  0.000000  0.000000  0.000000
2017-06-29 09:57:08.591   0.000000   0.000000  0.000000  0.000000  0.000000
2017-06-29 09:57:13.436   0.000000   0.000000  0.000000  0.000000  0.000000
...                            ...        ...       ...       ...       ...
2017-07-13 20:03:58.637   0.000000   0.000000  0.000000  0.000000  0.000000
2017-07-13 20:05:00.880   0.000000   0.000000  0.075684 -0.002960  0.047028
2017-07-13 20:05:00.933   0.000000   0.000000  0.000000  0.000000  0.000000
2017-07-13 20:21:31.322   0.000000   0.000000 -0.387283  0.058716  0.566345
2017-07-13 20:21:31.358   0.000000   0.000000  0.000000  0.000000  0.000000

                         linear_accel_x  linear_accel_y  linear_accel_z  \
timestamp
2017-06-29 09:57:08.396        0.000000        0.000000        0.000000
2017-06-29 09:57:08.406        0.000000        0.000000        0.000000
2017-06-29 09:57:08.589        0.000000        0.000000        0.000000
2017-06-29 09:57:08.591       -0.280773       -0.710495       -0.692953
2017-06-29 09:57:13.436        0.000000        0.000000        0.000000
...                                 ...             ...             ...
2017-07-13 20:03:58.637        0.000000        0.000000        0.000000
2017-07-13 20:05:00.880        0.000000        0.000000        0.000000
2017-07-13 20:05:00.933        0.000000        0.000000        0.000000
2017-07-13 20:21:31.322        0.000000        0.000000        0.000000
2017-07-13 20:21:31.358        0.000000        0.000000        0.000000

                            activity
timestamp
2017-06-29 09:57:08.396          Eat
2017-06-29 09:57:08.406          Eat
2017-06-29 09:57:08.589          Eat
2017-06-29 09:57:08.591          Eat
2017-06-29 09:57:13.436          Eat
...                              ...
2017-07-13 20:03:58.637  Video games
2017-07-13 20:05:00.880  Video games
2017-07-13 20:05:00.933  Video games
2017-07-13 20:21:31.322  Video games
2017-07-13 20:21:31.358  Video games

[24903 rows x 13 columns]

After reviewing the research paper, the activity descriptions should be associated with smartphone data.

In [37]:
pivot_data

,accel_x,accel_y,accel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,linear_accel_x,linear_accel_y,linear_accel_z,activity
timestamp,,,,,,,,,,,,,
2017-06-29 09:57:08.396,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.351562,0.686813,0.476898,0.000000,0.000000,0.000000,Eat
2017-06-29 09:57:08.406,-10.173126,-1.471237,1.924393,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Eat
2017-06-29 09:57:08.589,0.000000,0.000000,0.000000,4.585228,-8.101572,3.083927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Eat
2017-06-29 09:57:08.591,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.280773,-0.710495,-0.692953,Eat
2017-06-29 09:57:13.436,4.726227,-10.251968,0.491104,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Eat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-13 20:03:58.637,-2.270111,-8.976822,-3.034347,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Video games
2017-07-13 20:05:00.880,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.075684,-0.002960,0.047028,0.000000,0.000000,0.000000,Video games
2017-07-13 20:05:00.933,-3.145065,-8.022736,-4.604950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Video games
2017-07-13 20:21:31.322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.387283,0.058716,0.566345,0.000000,0.000000,0.000000,Video games
2017-07-13 20:21:31.358,-0.675690,2.700424,10.965744,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Video games